*{
    margin: 0;
}
body{
    height: 100%;
    width: 100%;
    margin-top: 0;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 5%;

}
#nameOfProject{
    text-align: center;
    
}
.backgroundImage img {
    position: absolute;
    height:100%;
}
 #end{
    text-align: center;
    padding-top: 4%;
} 
.form{
    text-align: center;
    padding: 4% 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input{width: 20%;
      margin: 2px 0%;
      padding: 0;
}
button{
    margin:1% 0% ;
    width: 5%;
    height: 20px;
}